  
  {% require_css %}
    <style>
      {% scope_css %}
      /*   Theme Global CSS */

      /*    Section Style    */
      .header-module{
        position: relative;
        {{ module.style.section_spacing.desktop_spacing.css }}
        {% if module.style.background.background_type != "none" %}
        {% if module.style.background.background_type == "image" %}
        background-image: url({{ resize_image_url( module.style.background.background_image.src, '1440') }});
        background-size: {{ module.style.background.background_image.background_size }};
        background-position: {{ module.style.background.background_image.background_position|lower|replace("_", " ")|replace("middle", "center") }};
        position: relative;
        {% elif module.style.background.background_type == 'gradient' %}
        background: {{ module.style.background.gradient.css }}
          {% endif %}
          {% if module.style.background.background_type == 'color' %}
          background-color: rgba({{ module.style.background.background_color.color|convert_rgb }}, {{ module.style.background.background_color.opacity / 100 }});
        {% endif %}
        {% endif %}
        min-height: 100vh;
      }


      .header-module:before {
    content: '';
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    background-repeat: no-repeat;
    border-radius: 0px;
    height: 100%;
    z-index: 0;
}


.carousel-container-bottom-section,
        .header-container
        {
        max-width:{{ module.style.container_width }}px;
        margin:auto;
        padding:20px;
        position:relative;
        }

        .header-Inner-container
        {
         width: {{ module.style.inner_section.inner_section_width }}%;
        }


       
    .header-Inner-container-heading {
    {{ module.style.typography_style.heading_style.style }}; 
    color: {{ module.style.typography_style.heading_style.color }};
    {% if module.style.typography_style.heading_style.size %}
    font-size: {{ module.style.typography_style.heading_style.size }}{{module.style.typography_style.heading_style.size_unit }}px;
    {% endif %}
  }
    .header-Inner-container-title-heading {
    {{ module.style.typography_style.heading_title_style.style }}; 
    color: {{ module.style.typography_style.heading_title_style.color }};
    {% if module.style.typography_style.heading_title_style.size %}
    font-size: {{ module.style.typography_style.heading_title_style.size }}{{module.style.typography_style.heading_title_style.size_unit }}px;
    {% endif %}
  }

  
  .header-Inner-container-description-wrapper * {
  {{ module.style.typography_style.description_style.style }}; 
  color: {{ module.style.typography_style.description_style.color }};
  {% if module.style.typography_style.description_style.size %}
  font-size: {{ module.style.typography_style.description_style.size }}{{module.style.typography_style.description_style.size_unit }}px;
  {% endif %}
}

.header-Inner-container-button-wrapper
{
{{ module.style.button_section.spacing_field.css }};
gap: {{ module.style.button_section.gap_between_button }}px;
}



      /*    Button Style   */
      {% for item in module.button %}
      .button-{{ loop.index }},
      .btn-cta-{{ loop.index }}{
        padding:{{ item.custom_style.top_bottom_spacing }}px {{ item.custom_style.left_right_spacing }}px;
        background-color: rgba({{ item.custom_style.background_color.color|convert_rgb }}, {{ item.custom_style.background_color.opacity / 100 }});
        color: rgba({{ item.custom_style.color_field.color|convert_rgb }}, {{ item.custom_style.color_field.opacity / 100 }});
        {% if item.custom_style.border_width > 0 %}
        border:{{ item.custom_style.border_width }}px {{ item.custom_style.border_type }};
        border-color: rgba({{ item.custom_style.border_color.color|convert_rgb }}, {{ item.custom_style.border_color.opacity / 100 }});
        {% endif %}
      }
    
      .button-{{ loop.index }}:hover,
      .btn-cta-{{ loop.index }}:hover{
        background-color: rgba({{ item.custom_style.button_hover_style.background_color.color |convert_rgb }}, {{ item.custom_style.button_hover_style.background_color.opacity / 100 }});
        color: rgba({{ item.custom_style.button_hover_style.color_field.color |convert_rgb }}, {{ item.custom_style.button_hover_style.color_field.opacity / 100 }});
        {% if item.custom_style.border_width > 0 %}
        border-color: rgba({{ item.custom_style.button_hover_style.border_color.color |convert_rgb }}, {{ item.custom_style.button_hover_style.border_color.opacity / 100 }});
        {% endif %}
      }
      {% endfor %}
        
    
    
      @media (max-width:767px) {
  
      .carousel-container-bottom-section,
      .header-container
      {
      max-width:{{ module.style.container_width_on_mobile }}%;
      }

      .header-Inner-container
      {
       width: {{ module.style.inner_section.inner_section_width_on_mobile }}%;
      }

      .header-Inner-container-button-wrapper
      {
      {{ module.style.button_section.spacing_field.css }};
      gap: {{ module.style.button_section.gap_between_button_mobile }}px;
      }

      }
    
      {% end_scope_css %}
    </style>
    {% end_require_css %}
    
<div  class="header-module carousel-container {{name}}">


<div class="header-container">
<div class="header-Inner-container">
{% if module.enable_title_heading and module.title_heading %}
  {% for item in module.title_heading %}
  <h{{ item.heading_type }} class="header-Inner-container-title-heading heading-{{ loop.index }} {% if item.heading_style !="auto" %} {{ item.heading_style }}{% endif %}">{{ item.text }}</h{{ item.heading_type }}>
  {% endfor %}
{% endif %}
{% if module.enable_heading and module.heading %}
  {% for item in module.heading %}
  <h{{ item.heading_type }} class="header-Inner-container-heading heading-{{ loop.index }} {% if item.heading_style !="auto" %} {{ item.heading_style }}{% endif %}">{{ item.text }}</h{{ item.heading_type }}>
  {% endfor %}
{% endif %}
{% if module.enable_description and module.description %}
  <div class="header-Inner-container-description-wrapper">
    {{ module.description }}
  </div>
  {% endif %}


  {% if module.button %}
      <div class="header-Inner-container-button-wrapper">
        {% for item in module.button %}
        {% if item.button_type == "default" %}
        {% set href = item.link.url.href %}
        {% if item.link.url.type is equalto "EMAIL_ADDRESS" %}
        {% set href = "mailto:" + href %}
        {% endif %}
        <a href="{{ href }}" class="button button-{{ loop.index }}"
           {% if item.link.open_in_new_tab %}target="_blank"{% endif %}
           {% if item.link.rel %}rel="{{ item.link.rel }}"{% endif %}
           >
          {{ item.text }}
        </a>
        {% endif %}
        {% if item.button_type == "cta" %}
        <div class="header-module-cta-wrapper btn-cta-{{ loop.index }}">
          {% cta guid="{{ item.cta_field }}" %}
        </div>
        {% endif %}

        {% endfor %}
      </div>
    {% endif %}



</div>
</div>



<div class="carousel-container-bottom-section">


<div class="container">   
  <div class="swiper-container">
      <div class="swiper-wrapper">
        
          {% for item in module.card_item %}
            <div class="swiper-slide">
            
            {% if item.image.src %}
              {% set sizeAttrs = 'width="{{ item.image.width }}" height="{{ item.image.height }}"' %}
              {% if item.image.size_type == 'auto' %}
              {% set sizeAttrs = 'width="{{ item.image.width }}" height="{{ item.image.height }}" style="max-width: 100%; height: auto;"' %}
              {% elif item.image.size_type == 'auto_custom_max' %}
              {% set sizeAttrs = 'width="{{ item.image.max_width }}" height="{{ item.image.max_height }}" style="max-width: 100%; height: auto;"' %}
              {% endif %}
              {% set loadingAttr = item.image.loading != 'disabled' ? 'loading="{{ item.image.loading }}"' : '' %}
              <img src="{{ resize_image_url(item.image.src, 0, 0, 300) }}" alt="{{ item.image.alt }}" {{ loadingAttr }} {{ sizeAttrs }} class="logo-image">
              {% endif %}
            </div>

            {% endfor %}
      </div>
  </div>
</div>    
    </div>
  </div>


  


</div>





{{ require_js("https://code.jquery.com/jquery-3.7.0.min.js", "footer") }}


{{ require_css("//cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.1/css/swiper.min.css") }}

{{ require_js("//cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.1/js/swiper.min.js", "footer") }}

{% require_js %}
<script>
  $(document).ready(function() {
      new Swiper('.swiper-container', {
          loop: true,
          slidesPerView: {{ module.slider_settings.slide_show }},
          autoplay:{{ module.slider_settings.autoplay }},
          speed: 6000,
          paginationClickable: true,
          spaceBetween: 20,
          pauseOnMouseEnter: true,
          breakpoints: {
              1920: {
                  slidesPerView: 5,
                  spaceBetween: 30
              },
              1028: {
                  slidesPerView: 3,
                  spaceBetween: 30
              },
              480: {
                  slidesPerView: 2,
                  spaceBetween: 10
               
                  
              }
          }
      });

      var mySwiper = document.querySelector('.swiper-container').swiper

      $('.swiper-container').on('mouseenter', function(e){
      console.log('stop autoplay');
      mySwiper.stopAutoplay();
    })
    $('.swiper-container').on('mouseleave', function(e){
      console.log('start autoplay');
      mySwiper.startAutoplay();
    })

  });
  


  

</script>
{% end_require_js %}






